@page
@model Website.Pages.MyPages.AdminPageModel
@{
}

<div class="header">
    <h1 class="header-title">Hi Admin!</h1>
</div>

<a class="new-exercise-link" asp-area="" asp-page="/MyPages/AddExercisePage">Create a new Exercise</a>
<a class="new-exercise-link" asp-area="" asp-page="/MyPages/AddCardio">Create a new Cardio</a>
<a class="new-exercise-link" asp-area="" asp-page="/MyPages/ExerciseTable">Manage Exercises</a>
<a class="new-exercise-link" asp-area="" asp-page="/MyPages/CardioTable">Manage Cardios</a>
<a class="new-exercise-link" asp-area="" asp-page="/MyPages/ChartPage">View Comment Statistics</a>

<br />

<form class="logout-form" method="post">
    <p class="logout-text">Click here to logout</p>
    <div class="logout-button">
        <button type="submit" value="Click">Log out</button>
    </div>
</form>


