@page
@model Website.Pages.MyPages.AdminPageModel
@{
}

<h1>Hi Admin!</h1>
<p> Welcome, @HttpContext.Session.GetString("UserName")</p>


<a asp-area="" asp-page="/MyPages/AddexercisePage">Create a new Exercise</a>

<br />

<form method="post">
    <p>Click here to logout</p>
    <div>
        <button type="submit" value="Click">Log out</button>
    </div>
</form>

