@page
@model Website.Pages.MyPages.ExerciseModel
@{
    ViewData["Title"] = "Exercises";
}

<br />
<h1>List Exercises</h1>


<div class="column-row-exercise">
     @foreach (var data in Model.dummies)
     {

       <div class="column-container-exercise">
           <div>
             <p><img class="column-image-avatar" src="@data.Avatar"></p>
             <p>@data.Id
             @data.FirstName
             @data.LastName</p>
           </div>

         <a class="column-description-exercise" asp-page="/MyPages/ExerciseDetails" asp-route-id=@data.Id>More details</a>
       </div>


     }
</div>