@page
@model Website.Pages.MyPages.Food_TipsModel
@{
	ViewData["Title"] = "Food&Tips";
}


<div class="grid-container-food">
    <div class="header-food">
        <h2 class="header-food-title">You are what you eat!</h2>
    </div>

    <div class="left-food">
        <h3 class="left-food-title">Carbohydrate</h3>
        <img src="/images/carbs.webp" alt="carbohydrate image" class="left-food-image">
        <p class="left-food-description">
            There are 3 types of carbs:
            Sugars, such as the natural sugar in fruit and milk or the added sugar in soda and many other packaged foods.
            Starches, including wheat, oats, and other grains; starchy vegetables such as corn and potatoes; and dried beans, lentils, and peas.
            Fiber, the part of plant foods that isn’t digested but helps you stay healthy.
            Sugars and starches raise your blood sugar, but fiber doesn’t.
        </p>
    </div>

    <div class="middle-food">
        <h3 class="middle-food-title">Protein</h3>
        <img src="/images/protein.jpg" alt="protein image" class="middle-food-image">
        <p class="middle-food-description">
            Protein is vital for three major functions. It helps you grow and repair muscles and other soft tissues. 
            It is also a building block of enzymes and hormones, which help regulate processes in your body. 
            Thirdly, protein is a fuel that your body burns for energy.
            The average adult needs about 0.8 grams of protein per kilogram of body weight per day.
            The National Academy of Medicine recommends that protein make up between 10% to 35% of your daily calories.
        </p>
    </div>

    <div class="right-food">
        <h3 class="right-food-title">Fats</h3>
        <img src="/images/fats.jpg" alt="fats image" class="right-food-image">
        <p class="right-food-description">
            Fat is a source of essential fatty acids, which the body cannot make itself.
            It helps the body absorb vitamin A, vitamin D and vitamin E. These vitamins are fat-soluble, which means they can only be absorbed with the help of fats.
            Any fat that's not used by your body's cells or turned into energy is converted into body fat. Likewise, unused carbohydrates and proteins are also converted into body fat.
            All types of fat are high in energy.
        </p>
    </div>
</div>
