@page
@model Website.Pages.MyPages.PersonalPageModel
@{
	ViewData["Title"] = "MyPage";
}

<h1> Welcome, @HttpContext.Session.GetString("Username")</h1>
<h3>This is your personal page!</h3>

<h2>Your data: </h2>
<p>First Name: </p>
<p>Username: </p>
<p>Password: </p>



<form method="post">
    <p>Click here to logout</p>
    <div>
        <button type="submit" value="Click">Log out</button>
    </div>
</form>