@page
@model Website.Pages.MyPages.PersonalPageModel
@{
	ViewData["Title"] = "MyPage";
}

<h1>This is a private page</h1>

<p>Welcome, @Request.Cookies["Username"]</p>
<p> Welcome, @HttpContext.Session.GetString("Username")</p>

<form method="post">
    <p>Click here to logout</p>
    <div>
        <button type="submit" value="Click">Log out</button>
    </div>
</form>