@page
@model Website.Pages.MyPages.TrainersModel
@{
    ViewData["Title"] = "Trainers";
}



<div class="grid-container-trainers">
    <div class="header-trainers">
        <h2>Our trainers are here for you!</h2>
        <a asp-page="/MyPages/QuizPage">Not sure who to pick?</a>
    </div>

    <div class="left-trainer">
        <h3>John Cena</h3>
        <img src="/images/trainer1.webp">
        <p>
            The amazing John Cena. Everyone knows him so no need for introduction!
            Specialty -> weight training. Book a meeting now!
        </p>
        <input type="submit" value="Schedule a meeting" />
    </div>

    <div class="middle-trainer">
        <h3>Sara Inferno</h3>
        <img src="/images/trainer2.jpg">
        <p>
            Sara the self-build fitness influencer! She is here for anyone interested in
            cardio training and light-weight training.What are you waiting for - BOOK NOW!
        </p>
        <input type="submit" value="Schedule a meeting" />
    </div>

    <div class="right-trainer">
        <h3>Pablo Escy</h3>
        <img src="/images/trainer3.jpg">
        <p>
            As strong as The Terminator himself. His focus is mainly bodyweight training.
            You can train anywhere - gym, at home or even in the park and still get that
            amazing body physic! Schedule a meeting today!
        </p>
        <input type="submit" value="Schedule a meeting" />
    </div>

</div>

