@page
@model Website.Pages.MyPages.TrainerLevelSchedulesModel
@{
}

<h1>Hui</h1>

<div class="column-row-exercise">
    @foreach (var data in Model.myManager.GetSchedules())
    {
        <div class="column-container-exercise">
            <div>
                <p>@data.Title</p>
                <p>Date: @data.Date</p>
                @*<p><a asp-page="/MyPages/ExerciseDetails" asp-route-name=@data.Name>More details</a></p>*@
            </div>
        </div>

    }
</div>
