@page
@model Website.Pages.MyPages.TrainersModel
@{
    ViewData["Title"] = "Trainers";
}



<div class="grid-container-trainers">
    <div class="header-trainers">
        <h2>Our trainers are here for you!</h2>
        <a asp-page="/MyPages/QuizPage">Not sure who to pick?</a>
    </div>

    <div class="left-trainer">
        <h3>Level Zero trainers</h3>
        <img src="/images/trainer1.webp">
        <p>
            For people who have ZERO experience in training!
        </p>
        <input type="submit" value="Schedule a meeting" />
    </div>

    <div class="middle-trainer">
        <h3>Level One trainers</h3>
        <img src="/images/trainer2.jpg">
        <p>
            For people who have SMALL experience in training!
        </p>
        <input type="submit" value="Schedule a meeting" />
    </div>

    <div class="right-trainer">
        <h3>Level Two trainers</h3>
        <img src="/images/trainer3.jpg">
        <p>
            For people who have SOME experience in training!
        </p>
        <input type="submit" value="Schedule a meeting" />
    </div>

</div>

