@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="grid-container">
    <div class="header">
        <h2>Training styles</h2>
    </div>

    <div class="left">
        <h3>Callisthenics</h3>
        <img src="/images/calisthenics.jpg">
        <p>
            Callisthenics is a form of strength training consisting of a variety of movements that exercise large muscle groups (gross motor movements), such as standing, grasping, pushing, etc.
            These exercises are often performed as bodyweight exercises. They are intended to increase strength, fitness, and flexibility, through movements such as pulling, pushing, bending, jumping.
            Calisthenics can provide the benefits of muscular and aerobic conditioning, in addition to improving psychomotor skills such as balance, agility, and coordination.
        </p>
    </div>

    <div class="middle">
        <h3>Weights</h3>
        <img src="/images/weights.jpg">
        <p>
            Weight training involves using some type of resistance to do exercises that challenge all the muscle groups of the body,
            including the chest, back, shoulders, arms (biceps, triceps), core, legs (quadriceps, hamstrings, calves) and glutes.
            When you use more resistance than your body normally handles (by using weights or working against gravity), your muscles get stronger,
            along with your bones and connective tissue.
        </p>
    </div>

    <div class="right">
        <h3>Cardio</h3>
        <img src="/images/cardio.webp">
        <p>
            Cardiovascular exercise is exercise that gets your heart rate up. Though some people use it solely for weight loss, cardio has other benefits as well.
            There are a wide variety of cardiovascular exercises, but consistency, duration, and intensity are the most important factors for meeting your fitness goals.
            This is the zone where you burn the most fat and calories.Some of the most common examples of cardio include walking, cycling, and swimming.
            However, even household chores like vacuuming and mopping can qualify as cardio exercise.
        </p>
    </div>


</div>
