@page
@model Study_Fitness.Pages.TDEEModel
@{
	ViewData["Title"] = "TDEE";
}

<h1 class="Bmi-h1">TDEE Calculator</h1>

<div>
    <p class="BMI-Message">@Model.Message</p>
</div>

<form class="BMI" method="post">
    <fieldset>
        <legend class="Bmi-legend">Please fill in the form</legend>

        <div>
            <label asp-for="calculator.Sex">Choose a gender:</label>
            <span asp-validation-for="calculator.Sex"></span>
            <select asp-for="calculator.Sex">
                <option value="male">male</option>
                <option value="female">female</option>
                <option value="unicorn">unicorn</option>
            </select>
        </div>
        <div>
            <label asp-for="calculator.Age">Age:</label>
            <span asp-validation-for="calculator.Age"></span>
            <input asp-for="calculator.Age" />
        </div>
        <div>
            <label asp-for="calculator.Height">Height:</label>
            <span asp-validation-for="calculator.Height"></span>
            <input asp-for="calculator.Height" />
        </div>
        <div>
            <label asp-for="calculator.Weight">Weight:</label>
            <span asp-validation-for="calculator.Weight"></span>
            <input asp-for="calculator.Weight" />
        </div>
        <div>
            <label asp-for="calculator.Activity">Level of activity:</label>
            <span asp-validation-for="calculator.Activity"></span>
            <select asp-for="calculator.Activity">
                <option value="low">low</option>
                <option value="medium">medium</option>
                <option value="high">high</option>
            </select>
        </div>
        <div>
            <label class="Bmi-label">&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
        <div>
            <button type="reset" value="Cancel">Cancel</button>
        </div>
    </fieldset>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }